<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-7">
      <%= render "public/shared/form", post: @post %>
    </div>
  </div>
</div>