<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-7">
      <%= render "public/posts/index", posts: @posts %>
      <% if member_signed_in? %>
        <%= render "public/shared/form", post: @post %>
      <% end %>
    </div>
  </div>
</div>