<div class="container">
  <div class="row">
    <div class="info col-md-3 card">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-8">
      <div class="card px-0">
        <div class="card-header">
          <h4>投稿一覧</h4>
        </div>
        <%= render 'public/posts/index', posts: @posts %>
      </div>
    </div>
  </div>
</div>