<% if members.exists? %>
  <% members.each do |member| %>
    <table class="table">
      <thead>
        <tr>
          <td><%= image_tag member.get_profile_image, size: '50x50' %></td>
          <td><%= link_to member.name, member_path(member.id) %></td>
          <td><%= link_to "フォロー: " + member.followings.count.to_s, member_followings_path(member.id) %></td>
          <td><%= link_to "フォロワー: " + member.followers.count.to_s, member_followers_path(member.id) %></td>
        </tr>
      </thead>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>