<div class="container mx-auto">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-8 card px-0">
      <div class="card-header">
        <h4><%= @member.name %>さんのフォロワー一覧</h4>
      </div>
      <%= render "followlist", members: @members %>
    </div>
  </div>
</div>