<div class="container">
  <div class="row">
    <div class="info col-md-3 card mb-2">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-8 text-center">
      <div class="notice"><%= flash[:notice] %></div>
      <div class="error"><%= flash[:error] %></div>
      <!--jmap表示-->
      <div id="jmap"></div>
    </div>
  </div>
</div>