<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-8">
      <div><%= flash[:notice] %></div>
      <!--jmap表示-->
      <div id="jmap"></div>
    </div>
  </div>
</div>

<!--jmap.js読み込み-->
<%= javascript_pack_tag 'jmap' %>
<script type = "text/javascript">
    $(document).ready(function() {
        $('#jmap').jmap({
    width: '100%',
    height: '450px',
    lineColor: '#EFE4A6',
    lineWidth: 2,
    showTextShadow: true,
    backgroundColor: '#6FCFDD',
    backgroundRadius: '0.5rem',
    backgroundPadding: '0.5rem',
    dividerColor: '#EFE4A6',
    showPrefectureName: true,
    showRoundedPrefecture: true,
    prefectureNameType: 'full',
    prefectureBackgroundColor: '#62B34C',
    prefectureBackgroundHoverColor: '#95A834',
    prefectureLineColor: '#EFE4A6',
    prefectureLineHoverColor: '#ffffff',
    prefectureLineWidth: '2px',
    prefectureLineGap: '0px',
    prefectureInnerLineWidth: '1px',
    prefectureInnerLineColor: '#EFE4A6',
    prefectureInnerLineType: 'outset',
    prefectureRadius: '15px',
    prefectureLineY: '2px',
    prefectureLineX: '2px',
    fontSize: '0.6rem',
    fontColor: '#fff',
    onSelect : function(e,data){
    location.href = "/search?prefecture_id="+(data.code);
        }
});
    });
</script>