<div class="container">
  <div class="row">
    <div class="info col-md-3 card">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-8 text-center">
      <div class=" mb-3" style="font-size:20px; color:#008000;"><%= flash[:notice] %></div>
        <p>都道府県名をクリックで選択して下さい</p>
      <!--jmap表示-->
      <div id="jmap"></div>
    </div>
  </div>
</div>

<!--jmap.js読み込み-->
<%= javascript_pack_tag 'jmap' %>
<%= javascript_pack_tag 'jmap_setting' %>