$('#chat').append("<div class='d-flex justify-content-end my-1'><p class='chat-my my-auto mx-2 p-1'><%= @chat.chat %></p></div>");
$('#chat').append("<div class='chat-time d-flex justify-content-end mx-2'><%= @chat.created_at.strftime('%m/%d %H:%M') %></div>");
$('.errors').html("");
$('input[type=text]').val("");