<div class="container">
  <div class="row">
    <div class="col-md-3 card mb-2">
      <%= render "public/shared/info", member: @member %>
    </div>
    <div class="col-md-8">
      <div class="card px-0">
        <div class="card-header">
          <h3 class="my-auto"><%= @member.name %>さんのお気に入り一覧</h3>
        </div>
        <% if @member.favorites.exists? %>
          <%= render 'public/posts/index', posts: @favorite_posts %>
        <% else %>
          <p>お気に入り登録をしていません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>