@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.info{
  background-color:#ffffff;
  max-height:650px;
}

.notice{
  font-size:20px;
  color:#008000;
}

.error{
  font-size:20px;
  color:#FF0000;
}

#chat{
  width: 400px;
  height: 400px;
  background-color: #cff6ff;
  overflow: auto;
}

.chat_time{
  font-size: 4px;
}

// 自動スクロール時ページネーションを非表示にする
.pagination {
  display: none;
}