@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.info{
  background-color:#ffffff;
  max-height:650px;
  .img{
    height: 70px;
    border-radius: 35px;
  }
}

.notice{
  font-size:20px;
  color:#008000;
}

.error{
  font-size:20px;
  color:#FF0000;
}

#chat{
  width: 90%;
  height: 450px;
  background-color: #cff6ff;
  overflow: auto;
}

.chat-my{
  background-color: #cefcb6;
  border-radius: 4px;
}

.chat-your{
  background-color: #ffffff;
  border-radius: 4px;
}

.chat-time{
  font-size: 4px;
  a{
    font-size: 10px;
    color: #212529;
  }
}

// 自動スクロール時ページネーションを非表示にする
.pagination {
  display: none;
}