// justify-content使用時に一番最後の行を左寄せにする為、空要素を表示
// 本来beforeは先頭に表示されるがorder:1;を指定することで一番最後に表示される
.index_head::before{
  content:"";
  display: block;
  width: 200px;
  margin: 4px;
  order: 1;
}

.index_head::after{
  content:"";
  display: block;
  width: 200px;
  margin: 4px;
}

.tag {
  border-bottom: 1px solid;
  border-color: #d9dadb;
}

.tag-item1, .tag-item2, .tag-item3, .tag-item4{
  width: 130px;
  height: 30px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  background-color: #f0ffff;
  color: #000000;
  border-style: solid;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  &:hover{
    text-decoration: none;
    background-color: #80bbff;
    color: #ffffff;
    border-bottom-style: none;
    border-style: solid;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
}

.tag-active{
  background-color: #ffffff;
  color: #000000;
  border-bottom-style: none;
  pointer-events: none;
}