<footer>
  <div class='container-fluid'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<%= link_to "CopyRight Hikores", "https://forms.gle/33iokvXNf15MUP3u5" %>
    	</div>
    </div>
  </div>
</footer>