<header class="d-flex flex-column">
  <div class="container">
    <div class="navbar">
      <%= link_to "ロゴ", root_path %>
      <ul>
        <li><%= link_to "メンバー", members_path %></li>
        <li><%= link_to "投稿", posts_path %></li>
      </ul>
    </div>
  </div>
</header>